<p>Primary font: "HelveticaNeue", "Helvetica", "Arial", sans-serif;</p>
<p><em>Primary font italic: "HelveticaNeue", "Helvetica", "Arial", sans-serif;</em></p>
<p><strong>Primary font bold: "HelveticaNeue", "Helvetica", "Arial", sans-serif;</strong></p>
<p class="secondary-type">Secondary font: Georgia, Times, "Times New Roman", serif;</p>
<p class="secondary-type"><em>Secondary font italic: Georgia, Times, "Times New Roman", serif;</em></p>
<p class="secondary-type"><strong>Secondary font bold: Georgia, Times, "Times New Roman", serif;</strong></p>